.Nav {
	width: 100%;
	display: flex;
	justify-content: space-between;
	position: fixed;
	padding: 15px;

	color: var(--white);

	&-LogoRoot {
		font-size: var(--xl);
	}

	&-MenuList {
		display: none;

		@media (min-width: 1201px) {
			display: flex;
			column-gap: 25px;
		}
	}

	&-MenuItem {
		font-size: var(--l);
	}
}
